<div class="card">
  <p-table
    #dt1
    [value]="data"
    [dataKey]="dataKey"
    [paginator]="true"
    responsiveLayout="stack"
    [breakpoint]="'960px'"
    [globalFilterFields]="globalFilterFields"
    styleClass="p-datatable-gridlines"
    [(selection)]="selectedRows"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [showCurrentPageReport]="true"
    [rows]="filas"
    [rowsPerPageOptions]="filasPorPagina"
    [metaKeySelection]="true"
    [selectionMode]="seleccionModo"
    [resizableColumns]="resizableColumns"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">{{ tableTitle }}</h5>

        @if (selectColumns) {
        <div class="col-4 flex align-items-center">
          <i class="pi pi-filter mr-2"></i>
          <p-multiSelect
            display="chip"
            [options]="optionalColumns"
            [(ngModel)]="selectedOptionalColumns"
            optionLabel="header"
            selectedItemsLabel="{0} columns selected"
            placeholder="Seleccione columnas opcionales"
            [showClear]="true"
            styleClass="w-full"
          ></p-multiSelect>
        </div>
        }
        <div class="flex justify-content-end align-items-center gap-2">
          @if (exportarData) {
            <p-button
            [pTooltip]="tooltipContentExport"
              [outlined]="true"
              icon="pi pi-download"
              tooltipPosition="bottom" 
              (keydown)="onKeydown($event)"
              (click)="exportarDataTable()"
            ></p-button>
            <ng-template #tooltipContentExport>
              <div class="flex align-items-center">
                  <span> Exportar </span>
              </div>
          </ng-template>
          } @if (btnAgregarData) {

          <p-button
            [pTooltip]="tooltipContent"
            [outlined]="true"
            icon="pi pi-plus"
            tooltipPosition="bottom" 
            (click)="agregarData()"
          ></p-button>
          <ng-template #tooltipContent>
            <div class="flex align-items-center">
                <span>Agregar</span>
            </div>
          </ng-template>

          }
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              [(ngModel)]="searchValue"
              (input)="dt1.filterGlobal(searchValue, 'contains')"
              placeholder="Buscar..."
            />
          </span>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <ng-container>
          @for (col of mainColumns; track $index) {
          <th pResizableColumn pSortableColumn="{{ col.field }}">
            {{ col.header }} <p-sortIcon field="{{ col.field }}" />
          </th>
          }
        </ng-container>
        <ng-container>
          @for (col of selectedOptionalColumns; track $index) {
          <th pResizableColumn pSortableColumn="{{ col.field }}">
            {{ col.header }} <p-sortIcon field="{{ col.field }}" />
          </th>
          }
        </ng-container>
        <th>Opciones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
        <td
          *ngFor="
            let col of mainColumns;
            let index = index;
            trackBy: trackByIndex
          "
        >
          <!-- Si es un objeto, muestra el campo de la clave del objeto -->
          <ng-container *ngIf="col.object; else elseBlock">
            <ng-container *ngIf="col.objectKey">
              {{ rowData[col.field]?.[col.objectKey] }}
            </ng-container>
          </ng-container>
          <!-- Si no es un objeto, muestra el campo plano -->
          <ng-template #elseBlock>
            {{ rowData[col.field] }}
          </ng-template>
        </td>
        <ng-container>
          @for (col of selectedOptionalColumns; track $index) {
          <td>{{ rowData[col.field] }}</td>
          }
        </ng-container>
        <td>
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            (click)="editarDataEvent.emit(rowData)"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (click)="eliminarDataEvent.emit(rowData)"
          ></p-button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        En total hay {{ data ? data.length : 0 }} registros.
      </div>
    </ng-template>
  </p-table>
  <p-toast />
</div>
