<ng-container *ngIf="!loading">
    <app-tabla
    [data]="bodegas"
    [mainColumns]="mainColumns"
    [optionalColumns]="optionalColumns"
    tableTitle="Bodegas"
    [globalFilterFields]="fieldsFilter"
    [btnAgregarData]="true"
    (agregarDataEvent)="abrirModalGuardarBodega()"
    (eliminarDataEvent)="eliminarBodega($event)"
    />
</ng-container>

<ng-container *ngIf="loading">
  <div class="flex justify-content-center align-items-center h-full">
    <p-progressSpinner 
      styleClass="w-4rem h-4rem" 
      strokeWidth="6" 
      animationDuration="0"/><p-toast />
  </div>
</ng-container>

<p-dialog
  header="Header"
  [(visible)]="visible"
  [modal]="true"
  [resizable]="false"
  [draggable]="false"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '70vw', height: '70vh' }"
>
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <i class="pi pi-money-bill mr-2"></i>
      <span class="font-bold white-space-nowrap">
        Agregar nueva Bodega
      </span>
    </div>
  </ng-template>
  <form [formGroup]="bodegaForm">
    <p-panel header="Bodega">
      <div class="flex flex-wrap justify-content-start">
        <div class="flex flex-column gap-2 col-6">
          <label for="nombre" class="block font-bold mb-2">Nombre</label>
          <p-iconField iconPosition="left">
            <p-inputIcon styleClass="pi pi-user-edit" />
            <input
              type="text"
              pInputText
              placeholder="Nombre"
              formControlName="nombre"
              id="nombre"
              class="w-full"
            />
          </p-iconField>
        </div>
        <div class="flex flex-column gap-2 col-6">
          <label for="descrip" class="block font-bold mb-2">Descripción</label>
          <p-iconField iconPosition="left">
            <p-inputIcon styleClass="bi bi-alphabet" />
            <input
              type="text"
              pInputText
              placeholder="Descripción"
              formControlName="descripcion"
              id="descrip"
              class="w-full"
            />
          </p-iconField>
        </div>
        <div class="flex flex-column gap-2 col-3">
          <label for="telefono" class="block font-bold mb-2">Telefono</label>
          <p-inputMask
            mask="+57 999 999 9999"
            placeholder="+57 999 999 9999"
            formControlName="telefono"
          />
        </div>
        <div class="flex flex-column gap-2 col-3">
          <label for="ubicacion" class="block font-bold mb-2">Ubicación</label>
          <input
            pInputText
            formControlName="ubicacion"
            placeholder="Ubicación"
          />
        </div>
        <div class="flex flex-column gap-2 col-3">
          <label for="responsable" class="block font-bold mb-2">Responsable</label>
          <p-dropdown
            formControlName="responsable"
            [editable]="true"
            [options]="terceros"
            optionLabel="name"
            id="responsable"
          />          
        </div>
        <div class="flex flex-column gap-2 col-3">
          <label for="capacidadMaxima" class="block font-bold mb-2">Capacidad Máxima</label>
          <p-inputNumber
            inputId="capacidadMaxima"
            mode="currency"
            currency="COP"
            locale="es-CO"
            formControlName="capacidadMaxima"
            class="w-full"
          />
        </div>
        <div class="flex flex-column gap-2 col-3">
          <label for="estado" class="block font-bold mb-2">Estado</label>
          <p-dropdown
            formControlName="estado"
            [editable]="true"
            [options]="estados"
            optionLabel="estado"
            optionValue="estado"
            placeholder="Seleccione"
            class="flex flex-wrap"
          />
        </div>
        <div class="flex flex-column gap-2 col-3">
          <label for="tipoBodega" class="block font-bold mb-2">Tipo de Bodega</label>
          <p-inputGroup>
            <input type="text" pInputText placeholder="Tipo de Bodega" />
            <button type="button" pButton icon="pi pi-plus" class="p-button-warning" (click)="visibleTipoBodega = true"></button>
          </p-inputGroup>
        </div>
      </div>
    </p-panel>
  </form>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-center">
      <p-button
        label="Cancelar"
        [outlined]="true"
        severity="danger"
        (onClick)="visible = false"
      />
      <p-button
        label="Guardar"
        [outlined]="true"
        severity="success"
        (onClick)="guardarBodega()"
      />
    </div>
  </ng-template>
</p-dialog>
<p-toast />
<p-confirmDialog />

<!-- Modal de Tipo de Bodega -->
<ng-container *ngIf="!loading">

  <p-dialog
    [(visible)]="visibleTipoBodega"
    [style]="{width: '50vw'}"
    [breakpoints]="{'960px': '75vw', '640px': '90vw'}"
    header="Tipo de Bodega"
    modal="true"
    [resizable]="false"
  >
    <ng-template pTemplate="header">
      <div class="inline-flex align-items-center justify-content-center gap-2">
        <i class="pi pi-money-bill mr-2"></i>
        <span class="font-bold white-space-nowrap">
          Agregar nueva Tipo de Bodega
        </span>
      </div>
    </ng-template>
    <p-tabView>
      <p-tabPanel header="tipos de Bodega">
        <app-tabla
        [data]="tipoBodegas"
        [mainColumns]="mainColumnsTipoBodega"
        [globalFilterFields]="fieldsFilterTipoBodega"
        />
      </p-tabPanel>
      <p-tabPanel header="Agregar Bodega">
        <form [formGroup]="tipoBodegaForm">
          <div class="flex flex-wrap justify-content-center">
            <div class="flex flex-column gap-2 col-6">
              <label for="nombre" class="block font-bold mb-2">Nombre</label>
              <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-user-edit" />
                <input
                  type="text"
                  pInputText
                  placeholder="Nombre"
                  formControlName="nombre"
                  id="nombre"
                  class="w-full"
                />
              </p-iconField>
            </div>
            <div class="flex flex-column gap-2 col-6">
              <label for="descrip" class="block font-bold mb-2">Descripción</label>
              <p-iconField iconPosition="left">
                <p-inputIcon styleClass="bi bi-alphabet" />
                <input
                  type="text"
                  pInputText
                  placeholder="Descripción"
                  formControlName="descripcion"
                  id="descrip"
                  class="w-full"
                />
              </p-iconField>
            </div>
            
          </div>
        </form>
      </p-tabPanel>
    </p-tabView>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-center">
        <p-button
          label="Cancelar"
          [outlined]="true"
          severity="danger"
          (onClick)="visibleTipoBodega = false"
        />
        <p-button
          label="Guardar"
          [outlined]="true"
          severity="success"
          (onClick)="guardarTipoBodega()"
        />
      </div>
    </ng-template>
  </p-dialog>
</ng-container>
<p-toast />
