@if (!isAuthenticated) {
<router-outlet />
}
@if (isAuthenticated) {
<div class="principal">
  <app-sidebar
    #sidebar
    [ngClass]="sidebar.sidebarVisible ? 'w-3' : 'w-auto'"
  ></app-sidebar>
  <div class="grid px-5 pt-4">
    <div class="flex justify-content-between align-items-center px-4 pt-2 pb-4">
      <p-button
        icon="pi pi-bars"
        (click)="sidebar.toggle()"
        [rounded]="true"
        [text]="true"
        [severity]="'secondary'"
      />
      <app-navbar class="w-full"/>
    </div>
    <router-outlet/>
  </div>
</div>
}
