

<p-card>
    <app-tabla
    [btnAgregarData]="false"
    [dataKey]="'tercero_id'"
    [tableTitle]="'Terceros'"
    [resizableColumns]="false"
    [data]="terceros"
    [globalFilterFields]="fieldsFilter"
    [mainColumns]="mainColumns"
    (editarDataEvent)="editarTercero($event)"
    (eliminarDataEvent)="eliminarTercero($event)"
    [exportarData]="esInvocado"
    (exportarDataEvent)="exportarTerceros($event)"
    [btnAgregarData]="true"
    (agregarDataEvent)="agregarTercero()"
/>
</p-card>
<p-toast></p-toast>
<p-confirmDialog />