<ng-container *ngIf="loading">
  <div class="flex justify-content-center align-items-center h-full">
    <p-progressSpinner
      styleClass="w-4rem h-4rem"
      strokeWidth="6"
      animationDuration="0"
    /><p-toast />
  </div>
</ng-container>

<ng-container *ngIf="!loading && modo === 'tabla'">
  <app-tabla
    [data]="productos"
    dataKey="id"
    [mainColumns]="mainColumns"
    [optionalColumns]="optionalColumns"
    tableTitle="Productos"
    [globalFilterFields]="fieldsFilter"
    [btnAgregarData]="true"
    [selectColumns]="true"
    (agregarDataEvent)="agregarProducto()"
  />
  <p-toast />
</ng-container>